<!DOCTYPE html>

<html lang='en'>

<head>

<meta charset="UTF-8" />

<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,800' rel='stylesheet' type='text/css'>

<title>
Open Sesame
</title>

</head>

<body bgcolor="Silver" function="countDown(secs, elem)">

<div id = "homecontainer">

<div id=greeting>
Greetings, User!
</div>

<header>
<h1>
Welcome to the Open Sesame Web Interface!
</h1>
</header>

<div id="bar">

</div>
<br>

<p>
<a id="homebutton" href="/users"><br>Users</a>
<a id="homebutton" href="/intruders"><br>Intruders</a> 
<a id="homebutton" href="/setup"><br>Setup</a> 
</p>
<br>
<div id="bar">

</div>

<section>

<p>



</p>
<br style="clear:both">
</section>

<footer>



<div id="footerwriting">

</div>


<script type = "text/javascript" src="javascripts/test.js"> </script>
</body>


	
</html>
