<!DOCTYPE html>
<html lang='en'>

<head>
	<title> JSON with jQuery </title>
<meta charset="UTF-8" />
</head>
<body>
<p>
Hello!!
</p>
<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type = "text/javascript" src="javascripts/jsonparsing.js"> </script>
<script>

</script>
</body>
</html>
